h1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    margin-right: 2rem;
    z-index: 1001;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #02030f;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 0.9rem 1.5rem;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link, .drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: antiquewhite;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}

.nav-link:hover {
    background-color: black;
    color: #fff;
    border-radius: 0.5rem;
}

.services:hover .drop-down {
    display: block;
}

.services a {
    display: flex;
    align-items: center;
}

.services .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: black;
    color: #fff;
    border-radius: 0.5rem;
}

.drop-down li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
}

.drop-down li a:hover {
    background: black;
    color: #fff;
    border-radius: 0.5rem;
}

#languageDetails {
    margin-top: 150px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
