/* Estilos para o corpo da página */
body {
    /* Define uma imagem de fundo para o corpo */
    background-image: url('../fotos/pesquisa_background.png');
    background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem no corpo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem de fundo */
    color: #ffffff; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte do texto */
}

/* Estilos para o cabeçalho da página */
header {
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
    position: relative; /* Define a posição relativa para posicionamento absoluto dos elementos filhos */
    margin-top: 0%; /* Margem superior */
}

/* Estilos para o título principal */
h1 {
    font-size: 36px; /* Tamanho da fonte */
    font-family: "Roboto", sans-serif; /* Fonte */
    font-weight: bold; /* Negrito */
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #010101; /* Cor de fundo */
    padding: 0px 10px; /* Espaçamento interno */
    display: flex; /* Layout flexível para alinhar os itens */
    justify-content: space-between; /* Alinha os itens ao longo do eixo principal */
    align-items: center; /* Alinha os itens verticalmente */
}

.tooltip {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    z-index: 9999;
}

.tool-category {
    margin-bottom: 10px;
}

.monitoracao {
    text-align: center;
    color:#00ff00
}

.desenvolvimento-agil {
    text-align: center;
    color:#00ff00
}

.tool-option {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.tool-option:hover {
    background-color: #101010;
}

.tool-option span {
    cursor: pointer;
}

/* Estilo para a logo e o texto "Coding Planet" */
.navbar-brand {
    display: flex; /* Layout flexível para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente */
}

.navbar-brand h1 {
    margin: 1;
    padding: 5px 10px; /* Adiciona preenchimento ao redor do texto */
    color: transparent; /* Torna o texto transparente */
    background-image: url('../fotos/binary.gif'); /* Adiciona o GIF como plano de fundo */
    background-size: cover; /* Ajusta o tamanho do plano de fundo para cobrir todo o elemento */
    -webkit-background-clip: text; /* Faz com que o plano de fundo seja cortado apenas pelo texto */
    background-clip: text; /* Faz com que o plano de fundo seja cortado apenas pelo texto */
}


/* Estilo para a área transparente */
.logo-area {
    width: 50px; /* Largura da área transparente */
    height: 50px; /* Altura da área transparente */
    background-color: transparent; /* Cor de fundo transparente */
}

.logo {
    width: 80px; /* Largura da logo */
    height: auto; /* Altura ajustada automaticamente */
    margin-left: 10px;
}


/* Estilo para a barra de pesquisa na barra de navegação */
.navbar-search input[type="text"] {
    width: 200px; /* Largura da barra de pesquisa */
    padding: 8px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    margin-right: 5px;
    text-shadow: 5 5 5px #000000;
}

.navbar-search button {
    padding: 8px 15px; /* Espaçamento interno do botão */
    background-color: #04ff00;
    font-weight: bold;
    font-style: comic;
    font-size: large;
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    color: #ffffff; /* Cor do texto */
    cursor: pointer; /* Cursor de apontar */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.navbar-search button:hover {
    background-color: #005f03; /* Cor de fundo do botão ao passar o mouse */
}

.navbar-search {
    display: flex; /* Layout flexível para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente */
}

/* Estilo para os botões */
.navbar-buttons {
    display: flex; /* Layout flexível para alinhar os botões horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
}

.navbar-button {
    padding: 0px 0px; /* Espaçamento interno do botão */
    color: #ffffff; /* Cor do texto */
    cursor: pointer; /* Cursor de apontar */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.navbar-button:not(:last-child) {
    margin-right: 10px; /* Margem à direita para separar os botões */
}

/* Estilo para a linha vertical */
.vertical-line {
    height: 80px; /* Altura da linha vertical */
    border-left: 3px solid #ccc; /* Linha vertical com cor cinza */
    margin: 0 10px; /* Margem horizontal para separar a linha das bordas dos botões */
}

.search-bar {
    margin: 20px auto;
    width: 80%;
    max-width: 300px;
    text-align: right;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.language-details {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

.language-details h2 {
    font-size: 84px;
}

.language-details .language-symbol {
    float: right;
    margin-left: 20px;
    max-width: 150px; /* Define o tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.language-details .description {
    margin-bottom: 20px;
}

.language-details .tools {
    text-align: center;
    margin-bottom: 20px;
}

.language-details .tools h3 {
    font-size: 20px;
    text-decoration: underline;
}

.language-details .topics {
    display: flex;
    flex-direction: column;
}

.language-details .topics h4 {
    font-size: 18px;
}

.language-details .topics ul {
    list-style-type: none;
    padding-left: 0;
}

.language-details .topics ul li {
    font-size: 16px;
}

/* Estilo do link para o nome Django */
.language-link {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.language-link:hover {
    color: #007bff;
}