body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url("../fotos/darkspace.jpg");

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 20px 0;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1a1d20;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-slide h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-slide p {
    font-size: 18px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #1b1c1f;
    transform: scale(1.05);
}
