/* Estilo para o fundo preto */
.background {
    background-color: black;
    /* Você pode adicionar outras propriedades de fundo, se desejar */
}

/* Estilo para o avatar no canto superior esquerdo */
.avatar img {
    max-width: 100px; /* Defina o tamanho máximo desejado */
    max-height: 100px; /* Defina o tamanho máximo desejado */
}

/* Estilo para os cartazes de filmes */
.movie-item img {
    max-width: 200px; /* Defina o tamanho máximo desejado */
    max-height: 300px; /* Defina o tamanho máximo desejado */
}


/* Estilo para a descrição e outras informações do perfil */
.description {
    margin-top: 20px;
    padding: 10px;
    color: white;
}

/* Estilo para a faixa branca separadora */
.separator {
    height: 5px;
    background-color: white;
    margin-top: 50%; /* Ajuste conforme necessário */
}

/* Estilo para o texto neon */
.neon-text {
    color: white;
    text-align: center;
    font-size: 2em;
    /* Adicione estilos de texto neon conforme necessário */
}

/* Estilo para a lista de filmes */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Adicione outros estilos conforme necessário */
}
