/* Estilo para o fundo preto */
.background {
    background-color: rgb(0, 14, 61);
    /* Você pode adicionar outras propriedades de fundo, se desejar */
}

/* Estilo para o avatar no canto superior esquerdo */
.avatar img {
    max-width: 100px; /* Defina o tamanho máximo desejado */
    max-height: 100px; /* Defina o tamanho máximo desejado */
}

/* Estilo para os cartazes de filmes */
.movie-item {
    margin: 10px; /* Adiciona uma margem de 10 pixels ao redor de cada cartaz */
}

/* Estilo para os cartazes de filmes */
.movie-item img {
    margin: 10px; /* Adiciona uma margem de 10 pixels ao redor de cada cartaz */
    text-align: center; /* Centraliza o conteúdo dentro do .movie-item */
    max-width: 200px; /* Defina o tamanho máximo desejado */
    max-height: 300px; /* Defina o tamanho máximo desejado */
}

.movie-item a {
    display: block; /* Faz o link ocupar todo o espaço disponível no .movie-item */
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(255, 255, 255); /* Define a cor do texto como branco */
    font-family: Arial, sans-serif; /* Altera a fonte do texto */
    margin-top: 10px; /* Adiciona um pouco de espaço acima do texto */
}

.movie-item a:hover {
    color: yellow; /* Altera a cor do texto quando passa o mouse por cima */
}


/* Estilo para a descrição e outras informações do perfil */
.description {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    max-width: 100%; /* Garante que a descrição não ultrapasse a largura da página */
}

/* Estilo para o texto da descrição */
.description textarea {
    width: 100%;
    height: 200px; /* Ajuste conforme necessário */
    font-size: 16px; /* Ajuste conforme necessário */
    color: white;
    background-color: black;
    border: none;
    resize: none; /* Impede o redimensionamento manual */
}

/* Estilo para o botão de salvar */
.description button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo para o botão de salvar quando hover */
.description button:hover {
    background-color: #45a049;
}


/* Estilo para a faixa branca separadora */
.separator {
    height: 5px;
    background-color: white;
    margin-top: 1%; /* Ajuste conforme necessário */
}

/* Estilo para o texto neon */
.neon-text {
    color: rgb(92, 92, 92);
    text-align: center;
    font-size: 2em;
    /* Adicione estilos de texto neon conforme necessário */
}

/* Estilo para a lista de filmes */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Adicione outros estilos conforme necessário */
}
